<div class="input-wrapper">
  <input
    [type]="inputType"
    [class]="inputClasses"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"
    [autocomplete]="autocomplete"
    [id]="id"
    [name]="name"
    [value]="value"
    (input)="onInput($event)"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />
  
  <button
    *ngIf="type === 'password'"
    type="button"
    class="toggle-password"
    [disabled]="disabled"
    (click)="togglePasswordVisibility()"
    tabindex="-1">
    <app-icon [name]="showPassword ? 'eye-off' : 'eye'" [size]="20"></app-icon>
  </button>
</div>
